<% content_for :body_class do %>
confirmation
<% end %>

<div class="confirm">
    Are you sure you want to delete your account?
    Confirm Yes or No.
    <form action="/confirmation" method="POST" id="confirmation">
        <button>YES</button>
    </form>

        <button><a href="/">NO</a></button>

</div>