<% content_for :redirector do %>
<meta http-equiv="refresh" content="4; URL='/'" />
<% end %>



<h2>Your account has been successfully removed.</h2>
<h6>You will be automatically redirected to the log-in page shortly...</h6>
