    <form action="/settings" method="POST" id="settings">
        <input id="avatar" type="text" name="avatar" placeholder="Profile picture.."/>
        <input type="hidden" name="_method" value="PUT">
        <button type="submit">Upload</button>
    </form>







<a href="/confirmation">DELETE ACCOUNT</a>