<form action="/sign-up" method="post">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="text" name="name" id="name" placeholder="First Name">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Login">
</form>