<% content_for :redirector do %>
<meta http-equiv="refresh" content="5; URL='/'" />
<% end %>



<h2>You have logged out.</h2>
<h6>You will be automatically redirected to the login page in 5 seconds...</h6>
