body {
    font-family: 'Poiret One', cursive;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 72px;
    color: white;
}

.navbar-light .navbar-brand {
    color: yellow;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    color: yellow;
    border-color: yellow;
    background-color: black;
}

.bg-light {
    background-color: #191c1f !important;
    /* Had to use important, because bootstrap was using important, and i wanted mine to be more imnportant.  <3 orlando */
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-left: 120px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}

input {
    margin-left: 10px;
    width: 47%;
    border-radius: 5px;
    border-color: white;
}

form {
    width: 350px;
    margin-top: 50px;
}

textarea {
    border-radius: 10px;
    border-color: white;
}

body {
    background-image: url("/images/hollywood.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    height: 555px;
    width: 90%;
}

.postss {
    border: solid black 4px;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin-top: 55px;
    text-align: center;
}

.postss img {
    height: 330px;
    width: 90%;
}

#eachbox {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
}

#gender {
    margin-left: 10px;
}

.display-4 {
    margin-top: 50px;
}

.btn-primary {
    font-size: 20px;
    float: left;
    width: 160px;
    background-color: yellow;
    color: black;
    border-color: black;
}

#delete {
    float: right;
    font-size: 30px;
    color: white;
    margin-right: 25px;
}

#delete:hover {
    color: yellow;
    text-decoration: none;
}

#avatar img {
    width: 350px;
    height: 340px;
    position: absolute;
    margin-top: 50px;
    border: solid black 3px;
}

#signin {
    width: 100%;
}

#upload {
    margin-top: 400px;
}

#logo {
    height: 100px;
    width: 115px;
}

#profileinfo {
    margin-top: 420px;
    background-color: white;
    width: 352px;
    overflow: auto;
    padding-left: 10px;
    border-radius: 10px;
    border: solid black 3px;
}

#birthday {
    margin-left: 28px;
}

#userform input {
    margin-bottom: 20px;
    border: solid black 3px;
    padding-left: 10px;
}

#userform textarea {
    border: solid black 3px;
}

#userform button {
    border: solid black 3px;
    border-radius: 4px;
    width: 95px;
}

#userform button:hover {
    background-color: yellow;
}

#signin input {
    margin-top: 20px;
}

#avatarhome img {
    border: solid white 3px;
    width: 100px;
    height: 100px;
    float: left;
}

.block {
    float: left;
    display: inline-block;
}

#confirmation button {
    color: #007bff;
    float: left;
    margin-right: 50px;
    margin-left: 100px;
}

.confirm {
    background-color: white;
    width: 400px;
    height: 250px;
    border: solid black 3px;
    margin-top: 50px;
    padding: 30px 0px 0px 30px;
}

#deletebutton {
    margin-top: 222px;
    float: right;
}

#settings input {
    border: solid black 3px;
}

#settings textarea {
    border: solid black 3px;
    margin-bottom: 30px;
}

#settings button {
    border: solid black 3px;
    border-radius: 6px;
    width: 80px;
}

#settings {
    color: white;
}

.signed_home {
    background-image: url("/images/signed_home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.sign_up {
    background-image: url("/images/sign_up.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.profile {
    background-image: url("/images/pier.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.confirmation {
    background-image: url("/images/confirm.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.settingz {
    background-image: url("/images/pier2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

/* w3schools helped with media query */

@media screen and (max-width: 600px) {
    img {
        height: 100%;
        width: 100%;
    }
    .about_me {
        width: 300px;
    }
    #userform textarea {
        width: 300px;
    }
}