body {
    font-family: 'Do Hyeon', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.flash {
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
}

.flash.info {
    background-color: #7cee7c;
}

.flash.warning {
    background-color: #ee7c7c;
}

.flash a,
.flash a:link,
.flash a:active,
.flash a:visited {
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: black;
    animation: beckon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.flash a:hover {
    color: white;
}

.flash.hide {
    display: none;
}

@keyframes beckon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.navbar-light .navbar-brand {
    color: blue;
}

.navbar-expand-lg .navbar-collapse {}

input {
    margin: 10px;
    width: 100%;
}

form {
    width: 350px;
    margin-top: 50px;
}

body {
    background-image: url("https://wallpaperscraft.com/image/airplane_sky_flight_clouds_sunset_116695_1920x1080.jpg");
    background: no-repeat;
    background-size: 100%;
}